{% load static %}


<div class="container">
    <h4>Main Categories</h4>
    <hr>


    <div class="row md-8">
        {% for item in categorylist.subcategorylist %}
        <div class="col md-2">
            <div class="product-thumbnail1">
                <div class="product-thumbnail1-hover">
                    {% for category in categorylist|dict_key:item %}
                    <a href="{{ category.name }}" class="category text-dark" style="text-decoration:none ;"><img
                            src="{{ category.image.url }}" class="img-thumbnail">
                       <center> {{ category.name }}</center></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="content-section">
        <div class="js-content-wrapper">

        </div>
    </div>

    <div id="external-content">

        {% for item in categorylist.subcategorylist %}
        {% for category in categorylist|dict_key:item %}

        <div id="{{category.name}}">
            <div class="row mx-auto">
                <div class="col mx-auto">
                    <br>
                    <h5 class="active1">Under {{category.name}}</h5>
                    <div class="subproduct-thumbnail">

                        {% for subcategory in categorylist.subcategorylist|dict_key:item %}
                        <div style="display: inline-block;margin-top: 5px;margin-right: 20px;color: brown;">
                            <div class="product-thumbnail-hover">
                                <a href="{% url 'store:products' subcategory.id %}" class="acenter text-dark"
                                    style="text-decoration:none;"> <img src="{{ subcategory.image.url }}"
                                        class="rounded" style="height:100px;border:3"><br><br>
                                    <center>{{ subcategory.name }}</center> </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>

</div>
</div>