{% extends "store/base.html" %}
<title>IndexPage</title>
{% load static %}
{% block body_block %}

<div class="row">
    <div class="col">
        <div class="display-area">
            <div class="cards-wrapper">
                <div class="card"><img src="{{ itemdetail.image1_url.url }}" alt=""></div>
                <div class="card"><img src="{{ itemdetail.image2_url.url }}" alt=""></div>
                <div class="card"><img src="{{ itemdetail.image3_url.url }}" alt=""></div>
                <div class="card"><img src="{{ itemdetail.image4_url.url }}" alt=""></div>
            </div>
        </div>

        <div class="dots-wrapper">
            <button class="dot active"></button>
            <button class="dot"></button>
            <button class="dot"></button>
            <button class="dot"></button>
        </div>
    </div>
    <div class="col">
        <h3> {{ itemdetail.name }} </h3>
        <p> {{itemdetail.description}}</p>
        <hr>
        <h7 class="red"> SEK {{ itemdetail.price }} </h7>
        <br>
        <span style="font-weight:italic;"><i> Incl. VAT Delivery usually within 24h</i> </span>
        <br><br>
        <a class="btn btn-outline-success"> Add to Cart </a>
    </div>
</div>
{% endblock %}