<!DOCTYPE html>
{% extends "store/base.html" %}

{% block body_block %}

<div class="jumbotron">
    {% if registered %}
    <h1>Thank you for Registration</h1>
    {% else %}
    <h2> Registration Form </h2>
    <br>
    <div class="form-group">
    <form enctype ="multipart/form-data" style="width:60%" method="POST">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" value="Register">
    </form>
    </div>
    {% endif %}
</div>

{% endblock %}