body {
    background-color: hsl(0, 0%, 98%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: hsl(0, 0%, 30%);
}

.box-element {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

.thumbnail {
    width: 100%;
    height: 200px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}

.product {
    border-radius: 0 0 4px 4px;
    box-shadow: none;
}

.product-thumbnail {
    margin: 0 10% 0 10%;
}

.product-thumbnail-hover:hover {
    box-shadow: hsl(0deg 0% 80%) 0 0 6px;
}

.bg-dark {
    background-color: #4f868c !important;
}

#cart-icon {
    width: 35px;
    display: inline-block;
    margin-left: 15px;
}

#cart-total {
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 15px;
    height: 20px;
    border-radius: 50%;
    font-size: 14px;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
    margin-top: 15px;
}

.btn {
    border-radius: 0;
}

.row-image {
    width: 100px;
}

.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}

.cart-row {
    display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    /* border-bottom: 1px solid #ececec; */

}

.quantity {
    display: inline-block;
    font-weight: 700;
    padding-right: 10px;


}

.chg-quantity {
    width: 12px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: .1s;
}

.chg-quantity:hover {
    opacity: .6;
}


.hidden {
    display: none !important;
}

.btn-primary-outline {
    background-color: transparent;
}


.breadcrumb {
    list-style: none;
}

.breadcrumb li {
    display: inline-block
}

.breadcrumb li::after {
    content: " >> ";
}

.breadcrumb li:last-child::after {
    content: "";
}

.breadcrumb a {
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/*  Slideshow */


.card {
    height: 200px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 40px;
    margin: 10px;
    flex: 300px 0 0;
    border: none;
}

.card img {
    width: 100%;
    border: 0px;
    object-fit: cover;
    border: none;
}

.cards-wrapper {
    display: flex;
    transition: ease 0.5s;
}

.display-area {
    width: 320px;
    height: 320px;
    /*   border: 1px solid black; */
    overflow-x: hidden;
    margin: auto;
}

.dots-wrapper {
    display: flex;
    justify-content: center;
    margin: auto;
}

.dot {
    border: none;
    background: rgba(0, 0, 0, 0.2);
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    outline: none;
}

.dot:hover {
    background: rgba(0, 0, 0, 0.3);
}

.dot.active {
    background: rgba(0, 0, 0, 0.5);
}

.left {

    float: left;
}

.red {
    color: red;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 20px;
}